<nav class="navbar navbar-default" role="navigation" id="gamenav">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#lobby">Rankings</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mail<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#game/{{game.worldName}}/mail/inbox">Inbox</a></li>
						<li><a href="#game/{{game.worldName}}/mail/sent">Sent</a></li>
						<li><a href="#game/{{game.worldName}}/mail/archived">Archived</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#game/{{game.worldName}}/settings/profile">Profile</a></li>
						<li><a href="#game/{{game.worldName}}/settings/privacy">Privacy</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Alliance <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{{#if game.worldUser.alliance}}
							<li><a href="#game/{{game.worldName}}/alliance/{{game.worldUser.alliance}}/overview">Overview</a></li>
							<li><a href="#game/{{game.worldName}}/alliance/{{game.worldUser.alliance}}/members">Members</a></li>
						{{	else}}
							<li><a href="#game/{{game.worldName}}/alliance-join">Join</a></li>
						{{/if}}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rankings <b class="caret"></b></a>
					<ul class="dropdown-menu">
							<li><a href="#game/{{game.worldName}}/rankings/sum">Sum</a></li>
							<li><a href="#game/{{game.worldName}}/rankings/members">Population</a></li>
							<li><a href="#game/{{game.worldName}}/rankings/war">War</a></li>
							<li><a href="#game/{{game.worldName}}/rankings/alliance">Alliance</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Help</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle {{#unless userInfo.role}}hidden{{/unless}}" data-toggle="dropdown">Admin menu <b class="caret"></b></a>
					<ul class="dropdown-menu">Overview
						<li><a href="#adm-overview">Overview</a></li>
						<li><a href="#adm-worlds">Worlds</a></li>
						<li><a href="#adm-servers">Server management</a></li>
						<li><a href="#adm-logs">Logs</a></li>
					</ul>
				</li>
				<li><a href="#lobby">Lobby</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<canvas width="{{canvasWidth}}" height="{{canvasHeight}}" id="game-canvas">canvas not supported, wat do</canvas>
<div id="game-status">
	<div class="panel panel-default">
	<div class="panel-heading">Status</div>
		<div class="panel-body">
			<p id="game-position"></p>
			<p id="game-vertices"></p>
			<p id="game-cursor"></p>
		</div>

	</div>
</div>