<div id="lobbyHome" class="container">
	<div class="row">
		<div class="col-md-6 panel panel-default infobox">
			<div class="page-header">
				<h1>World Statistics <small>or alerts maybe?</small></h1>
			</div>
			<div id="lobby-main-worlds">
			</div>
		</div>
	</div>
</div>