<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">{{name}} <button class="btn btn-primary btn-sm pull-right server-join" style="margin-top:-5px">Join</button></h3>
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Started:</td>
				<td>{{started}}</td>
			</tr>
			<tr>
				<td>Players</td>
				<td>{{players}}</td>
			</tr>
			<tr>
				<td>Size</td>
				<td>{{size}}</td>
			</tr>
		</tbody>
	</table>
</div>