<div id="lobbyHome" class="container">
	<div class="row">
		<div class="col-md-6 panel panel-default infobox">
			<div class="page-header">
				<h1>World Statistics <small>or alerts maybe?</small></h1>
			</div>
			<div id="lobby-main-worlds">
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 panel panel-default infobox">
			<div class="page-header">
				<h1>News</h1>
			</div>
			<div>
				<h2>Some shitty news <small>21.03.2014</small></h2>
				<p>
					This website is so shit i dont even know how it got like this. Also im making this game pay to play since im a greedy bastard that want money for candy, so i can stop stealing it from children. tlac-something has a small penis
				</p>
				<h2>Updated to v0.12 <small>10.03.2014</small></h2>
				<p>
					All Servers has been updated to v12, this update has some promising changes implemented and enabled.<br/>
					Changelog:
				</p>
				<ul>
					<li>Enabled spear training</li>
					<li>Fixed some pathfinding bugs</li>
					<li>Added chat command /me</li>
					<li>fuck this</li>
				</ul>
			</div>
		</div>
	</div>
</div>